<!DOCTYPE html>
<html>

  <head>

    <title>Boilerplate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= yield %>

    <script type="text/javascript" src="/app/inline.js"></script>
    <script type="text/javascript" src="/app/styles.bundle.js"></script>
    <script type="text/javascript" src="/app/main.bundle.js"></script>

  </body>

</html>
